
.header {
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 3px solid #cccccc;
    height: 65px;
}

.nav-link {
    float: right;
}

.header-center {
    width: 960px;
}
